body{
    background-color: #b4dbd8;
    color: #2f2f2f;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color:#5f9ea0;
    color: azure;
    padding: 20px;
    border-radius: 12px 12px 0 0;
    text-align: center;
}
header h1{
    font-size:3em;
    color: #d0d0d0;
    font-weight: 100;
}
header p{
    font-size: 1em;
    color: #7fd8fe;
}
nav{
    background-color: #333;
    padding: 15px;
    text-align: center;
}
nav a{
    text-decoration: none;
    color: #fff;
    margin: 0 15px;

}
nav a:hover{
    text-decoration: underline;
    color: #c1c1c1;
}
main{
    background-color: #fff;
    padding: 40px 15px 150px 15px;
}
main h1{
    color: #13367c;
    font-weight: 100;
    text-align: center;
}
main p{
    color: #6b6b6b;
    text-indent: 10px;
    text-align: justify;
    padding: 10px;
}
main>p>strong{
  font-size: large;
}
main>p>span{
    color: #245dd0;
}
footer{
    background-color: #333;
    color: #fff;
    padding: 100px 15px 150px 15px;
    border-radius: 0 0 12px 12px;
}
footer p{
    text-align: center;
}

